:root {
    --primary-color: #83d030;
    --primary-color-500: #c0ff71;
    --secondary-color: #253e74;
    --primary-dark: #406f0e;

    /* --accent-gradient: linear-gradient(to right, #83d030, #ff6969); */
    --accent-gradient: linear-gradient(to right, #83d030, #507e1f);
    --hover-accent-gradient: linear-gradient(to right, #83d030, #83d030);

    --grey-color-100: #f5f7f8;
    --grey-color-150: #f6f8fa;
    --grey-color-200: #ecf1f5;
    --grey-color-300: #e8edf1;
    --grey-color-350: #c3d0de;
    --grey-color-400: #c4c4c4;
    --grey-color-500: #76818d;
    --grey-color-600: #667b91;
    --grey-color-800: #3b4855;
    --grey-color-900: #343434;
    --light-grey-100: #dfdfdf;
    --light-grey-300: #a7a7a7;

    --light-blue: #E6F0FA;

    --white: #ffffff;
    --black: #000000;
    --red: #83d030;
    --blue: #243d73;
    --dark-700: #181d22;
    --dark-800: #20262d;
    --dark-900: #090b0d;

    --primary-font: "Zen Kaku Gothic Antique", sans-serif;
    --secondary-font: ;
    --accent-font: ;

    --top-bar-height: 4.4rem;
    --top-offset: -4.5rem;

    font-size: 62.5%;
}

html,
body {
    overflow: hidden;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

html.fixed {
    overflow: hidden !important;
}

body.modal-open {
    padding-right: 0px !important;
}

body {
    background: var(--white);
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-family: var(--primary-font);
    font-weight: 400;
    line-height: 1.6;
}

.display-1 {
    font-size: 6.5rem;
}

.display-2 {
    font-size: 5.5rem;
}

.display-3 {
    font-size: 4.6rem;
}

.display-3-5 {
    font-size: 4.4rem;
}

.display-5 {
    font-size: 3rem !important;
}

.display-5-5 {
    font-size: 3.5rem !important;
}

.light-height-sm {
    line-height: 1.38;
}

.font24 {
    font-size: 2.4rem;
}

.font22 {
    font-size: 2.2rem;
}

.font20 {
    font-size: 2rem;
}

.font18 {
    font-size: 1.8rem;
}

.font16 {
    font-size: 1.6rem;
}

.no-box-shadow {
    box-shadow: none !important;
}

.no-text-shadow {
    text-shadow: none !important;
}

.min-w-auto {
    min-width: auto !important;
}

.z-index-1 {
    z-index: 1;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.25s ease;
}

a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

.heading-color {
    color: var(--secondary-color) !important;
}

.text-red {
    color: var(--red) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-primary-dark {
    color: var(--primary-dark) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.bg-light-blue {
    background: var(--light-blue) !important;
}

.text-grey-300 {
    color: var(--grey-color-300) !important;
}

.text-grey-500 {
    color: var(--grey-color-500) !important;
}

.text-grey-600 {
    color: var(--grey-color-600) !important;
}

.text-grey-800 {
    color: var(--grey-color-800) !important;
}

.text-grey-900 {
    color: var(--grey-color-900) !important;
}

.line-height-1-4 {
    line-height: 1.4;
}

.text-lead {
    font-size: 1.8rem;
}

.text-lead-2 {
    font-size: 2rem;
}

.font14 {
    font-size: 1.4rem !important;
}

.font16 {
    font-size: 1.6rem;
}

.bg-grey-100 {
    background: var(--grey-color-100);
}

.bg-grey-300 {
    background: var(--grey-color-300);
}

.shadow-lg {
    box-shadow: rgba(23, 20, 20, 0.15) 1px 5px 48px 0;
}

.font-weight-500 {
    font-weight: 500;
}

.max-w-100 {
    max-width: 100% !important;
}

.loader {
    border: 8px solid var(--light-grey-300);
    border-top: 8px solid var(--primary-color);
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content-width-limit {
    max-width: 47.6rem;
}

label.error {
    color: var(--red);
    font-weight: 500;
    margin-bottom: 0;
}

ul,
p {
    margin-bottom: 0;
}

.theme-padding {
    padding: 10rem 0;
}

.theme-padding-2 {
    padding: 14rem 0;
}

.theme-padding-mini {
    padding: 6rem 0;
}

.form-control {
    border: 1px solid var(--light-grey-100);
    color: var(--light-grey-300);
    border-radius: 0;
    font-weight: 500;
    height: 5rem;
    line-height: 1;
    font-size: 1.5rem;
    padding: 0.6rem 1.6rem 0.8rem;
    transition: all 0.25s ease;
}

.form-control::placeholder {
    color: var(--light-grey-300);
}

.form-control:hover {
    border-color: var(--grey-color-400);
}

.form-control:focus {
    box-shadow: none;
    outline: 0;
    color: var(--black);
    border-color: var(--red);
}

textarea.form-control {
    padding-top: 1.5rem;
    resize: none;
}

.custom-btn-label {
    display: block;
    position: relative;
    padding-left: 2.4rem;
    cursor: pointer;
    max-width: 36rem;
    font-weight: 500;
    color: var(--light-grey-300);
}

.custom-btn-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-btn-label .checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: transparent;
    border-radius: 0.2rem;
    border: 1px solid var(--grey-color-400);
    transition: all 0.25s ease;
}

.custom-btn-label:hover input~.checkmark {
    border-color: var(--primary-color);
}

.custom-btn-label input:checked~.checkmark {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.custom-btn-label .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-btn-label input:checked~.checkmark:after {
    display: block;
}

.custom-btn-label .checkmark:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.content-limited-width {
    max-width: 48rem;
}

/* Button Styles */
.btn {
    color: var(--white);
    border: 0;
    background: var(--dark);
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0.8rem 3rem 1rem;
    min-width: 20rem;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 2px 5px 0;
    outline-color: var(--primary-color) !important;
    transition: all 0.25s ease;
}

.btn-padding-2 {
    padding: 1rem 2rem 1.2rem;
}

.btn:hover {
    transform: scale(1.04);
    box-shadow: rgba(0, 0, 0, 0.3) 1px 4px 8px 0;
}

.btn:focus {
    box-shadow: none !important;
}

.btn:active {
    transform: scale(0.9);
    box-shadow: rgba(0, 0, 0, 0.3) 1px 4px 8px 0;
}

.btn.width-2 {
    min-width: 16rem;
}

.btn.btn-width-2 {
    min-width: 38.6rem;
}

.btn.width-lg {
    width: 74%;
}

.btn.btn-sm {
    padding: 4px 22px 6px;
    min-width: 90px;
    font-size: 1.3rem;
}

.btn-primary-inverse {
    padding: 3px 22px 5px !important;
    background: var(--white);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-primary-inverse:hover {
    color: var(--primary-color);
}

.btn-primary {
    background: var(--accent-gradient);
    color: var(--white);
}

.btn-primary-outline {
    background: var(--white);
    color: var(--red);
    border: 1px solid var(--red);
    box-shadow: none;
}

.btn-primary-outline:hover {
    color: var(--red);
}

.btn-rounded {
    border-radius: 40rem;
}

.btn-default {
    background: #EAEAEA;
    color: var(--primary-color);
    box-shadow: none;
}

.btn-default:hover {
    color: var(--primary-color);
}

.btn-secondary {
    background: var(--white);
    color: var(--primary-color);
    border-radius: 0.6rem;
    font-size: 1.5rem;
    padding: 1.5rem;
}

.btn-secondary:hover {
    background: var(--grey-color-300);
    color: var(--primary-color);
}

.btn-secondary:active,
.btn-secondary:focus {
    background: var(--white) !important;
    color: var(--primary-color) !important;
}

.shadow-xl {
    box-shadow: rgba(0, 0, 0, 0.16) 30px 50px 30px;
}

.max-w-400 {
    max-width: 40rem;
}

.max-w-500 {
    max-width: 50rem;
}

.flex-grow-2 {
    flex: 2;
}

.hero-mini-banner .banner-content {
    max-width: 54rem;
    padding: 22rem 0 10rem;
    min-height: 45rem;
}

.hero-mini-banner.type-2 .banner-content {
    padding: 26rem 0 14rem;
}

.hero-mini-banner p {
    font-size: 2.2rem;
    line-height: 1.5;
}

.hero-mini-banner.v2 .banner-content {
    padding: 17rem 0 8rem;
}

.theme-table thead,
.theme-table tbody tr td:first-child {
    background: var(--grey-color-100);
}

.theme-table thead tr th:first-child,
.theme-table tbody tr td:first-child {
    border-right: 1px solid var(--grey-color-300);
}

.theme-table tbody tr td,
.theme-table thead th {
    border-top: 0;
    border-bottom: 1px solid var(--grey-color-300);
    padding: 2.5rem;
    line-height: 1.3;
    font-size: 1.8rem;
    color: var(--secondary-color);
    font-weight: 500;
}

.theme-table tbody tr {
    transition: all 0.25s ease;
}

.theme-table tbody tr:hover {
    background: var(--grey-color-100);
}

.theme-table thead th {
    padding-right: 6rem;
}

.theme-table.type-2 thead th {
    padding-right: unset;
}

.title.limited-width {
    max-width: 65rem;
    margin: auto;
}

.title.limited-width-2 {
    max-width: 80rem;
    margin: auto;
}

.modal {
    z-index: 99992;
}

.modal .close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .close:hover>svg * {
    stroke: var(--red);
}

.modal-backdrop {
    z-index: 99991;
    background: rgba(0, 0, 0, 0.8);
}

.modal-content {
    border-radius: 1.7rem;
    background: var(--white);
    padding: 3.4rem 2.2rem;
    box-shadow: rgba(0, 0, 0, 0.27) 0 1rem 4.2rem 0;
}

.modal-content h4 {
    font-size: 3rem;
    color: var(--black);
}

.modal-content p {
    color: #899199;
}

.modal-width-theme {
    max-width: 100.1rem;
    margin: 0 auto;
}

.modal-width-theme-2 {
    max-width: 53.6rem;
    margin: 0 auto;
}

.modal-width-theme-3 {
    max-width: 70rem;
    margin: 0 auto;
}

.methods-box img {
    padding: 2.4rem;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.25s ease;
    color: white;
}

header.dark {
    background: rgba(255, 255, 255, 0.85);
}

header.going-down {
    top: var(--top-offset);
}

header.blur-bg {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.7);
}

/* Top Bar */
.top-bar-links ul {
    list-style: none;
    min-height: var(--top-bar-height);
    padding-left: 0;
}

.top-bar-links ul li {
    padding-left: 1.4rem;
}

.top-bar-links ul li a:not(.btn) {
    color: var(--black);
    font-size: 1.3rem;
    display: flex;
    width: 100%;
    min-height: 100%;
}

.top-bar-links ul li a:not(.btn):hover {
    color: var(--primary-color-500);
}

/* Navbar Styles */
nav {
    border-top: 1px solid rgba(89, 95, 130, 0.3);
    border-bottom: 1px solid rgba(89, 95, 130, 0.3);
}

.nav-links>ul {
    list-style: none;
    padding-left: 0;
}

.nav-links>ul>li>a {
    color: var(--blue);
    font-weight: 500;
    padding: 2.7rem 1.4rem 3rem;
    display: block;
    position: relative;
}

.nav-links>ul>li:hover>a {
    color: var(--primary-color);
}

.nav-links>ul>li.active>a {
    color: var(--primary-color);
    background: var(--black);
    padding: 2.7rem 2rem 3rem;
}

.nav-links>ul>li:hover>a .icon svg *,
.nav-links>ul>li.active>a .icon svg * {
    fill: var(--primary-color);
}

.nav-links>ul>li:hover>a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: var(--primary-color);
}

.nav-links>ul>li.active>a::after,
.nav-links>ul>li:hover>a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    opacity: 0.2;
    background: linear-gradient(to top, #83d030, rgba(213, 24, 32, 0));
}

.nav-links>ul li.has-dropdown {
    position: relative;
}

.nav-links>ul li.has-dropdown:hover>.dropdown-wrapper {
    opacity: 1;
    visibility: visible;
}

.nav-links>ul li.has-dropdown .icon svg {
    width: 1.2rem;
    height: 1.2rem;
}

.nav-links>ul li.has-dropdown .icon svg * {
    fill: var(--white);
    transition: all 0.25s ease;
}

.nav-links .dropdown-wrapper {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 30rem;
    max-height: calc(100vh - 14rem);
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--grey-color-800);
    padding: 2rem 1.6rem 2.2rem 1.6rem;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    transition: all 0.2s ease;
    box-shadow: 0 1.43rem 3.8rem 0.86rem rgb(0, 0, 0, 0.7);
}

.nav-links .dropdown-wrapper.width-2 {
    width: 36rem;
}

.nav-links .dropdown-wrapper.mega-dropdown {
    width: 96rem;
}

.nav-links .dropdown-wrapper .title {
    color: var(--grey-color-350);
}

.nav-links .dropdown-wrapper ul {
    list-style-type: none;
    padding: 0;
}

.nav-links .dropdown-wrapper .menu-box a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.5;
    padding: 1rem;
    color: var(--white);
    border-left: 2px solid var(--grey-color-800);
}

.nav-links .dropdown-wrapper .menu-box a .icon {
    min-width: 5rem;
}

.nav-links .dropdown-wrapper .menu-box a .icon img {
    width: 3.4rem;
}

.nav-links .dropdown-wrapper .menu-box a small {
    color: var(--grey-color-350);
    font-size: 1.4rem;
    display: block;
    line-height: 1.2;
}

.nav-links .dropdown-wrapper .menu-box a:hover {
    background: linear-gradient(to right, var(--secondary-color), transparent);
    border-color: var(--primary-color);
    color: var(--white);
}

.mobile-menu-toggler {
    display: none;
    align-items: center;
    cursor: pointer;
    padding: 9px 4px 12px;
    transition: all 0.25s ease;
}

.mobile-menu-toggler:hover {
    background: rgba(0, 0, 0, 0.6);
}

.mobile-menu-toggler .icon svg {
    width: 19px;
    position: relative;
    top: 1px;
    margin-right: 2px;
}

.mobile-menu-toggler .icon svg * {
    stroke: transparent;
    fill: var(--blue);
}

.mobile-menu-toggler .text {
    color: var(--blue);
    font-size: 1.8rem;
}

.close-nav-menu-btn {
    position: absolute;
    z-index: 1;
    right: 14px;
    top: 10px;
    cursor: pointer;
    display: none;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.close-nav-menu-btn svg {
    width: 30px;
}

.close-nav-menu-btn svg * {
    stroke: var(--white);
}

/* Footer Styles */
.main-footer {
    background: var(--blue);
    padding: 10rem 0;
}

.main-footer .footer-content {
    width: 500px;
    max-width: 500px;
    border-right: 1px solid rgba(196, 196, 196, 0.1);
}

.main-footer .footer-content .content {
    max-width: 250px;
    margin: 1.6rem 0;
}

.social-links-box {
    margin-top: 2.6rem;
}

.social-links-box a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 9px;
    background: var(--dark-800);
    margin-right: 1.2rem;
}

.social-links-box a:hover {
    background: var(--dark-700);
}

.main-footer .footer-content .content p {
    color: var(--white);
}

.footer-links {
    justify-content: space-evenly;
}

.footer-links .links-collapse {
    display: flex;
}

.footer-links .links-collapse ul {
    list-style: none;
    padding-left: 0;
}

.footer-links .links-box h6 {
    font-size: 1.8rem;
    color: var(--white);
    margin-bottom: 1rem;
    pointer-events: none;
    position: relative;
    transition: all 0.25s ease;
}

.footer-links .links-box h6::after {
    display: none;
    content: "\276F";
    position: absolute;
    right: 1.4rem;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    font-size: 1.4rem;
    color: var(--white);
    font-family: arial;
    transition: all 0.25s ease;
}

.footer-links .links-box h6.open::after {
    transform: translateY(-50%) rotate(-90deg);
}

.footer-links .links-box ul li a {
    color: var(--white);
    font-weight: 300;
    margin: 0.6rem 0;
    display: block;
}

.footer-links .links-box a:hover {
    color: var(--primary-color-500);
}

.footer-legal-content {
    background: var(--blue);
    padding: 6rem 0;
}

.footer-legal-content p {
    font-weight: 400;
    color: #b7b7b8 !important;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.footer-legal-content p:last-child {
    margin-bottom: 0;
}

.footer-copyright {
    background: var(--blue);
    padding: 2.4rem 0;
}

/* About Global Component */
.about-card {
    background: var(--grey-color-100);
}

.about-card .card-box {
    position: relative;
}

.about-card .card-box {
    position: relative;
    background: linear-gradient(90deg, #667b91, #a4b3c4);
    border-radius: 1rem;
    overflow: hidden;
    padding: 8rem 12rem;
}

.about-card.type-2 .card-box {
    padding: 8rem 6.5rem;
}

.about-card.type-2 .card-box::before,
.about-card.type-2 .card-box::after {
    display: none;
}

.about-card .card-box::before {
    content: "";
    height: 100%;
    width: 6rem;
    background: linear-gradient(to bottom, #5a7688, #7289a2, #7895b6);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.about-card .card-box::after {
    content: "";
    height: 100%;
    width: 0.3rem;
    background: linear-gradient(to bottom, #b4e3db, #daecff, #ff6969);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 6rem;
}

.about-card .card-box .bg-card-shape {
    position: absolute;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
    width: 95%;
    pointer-events: none;
}

.about-card.type-2 .card-box .bg-card-shape {
    width: 70%;
    right: 20px;
}

.about-card .card-box .content {
    max-width: 35rem;
}

.about-card.type-2 .card-box .content {
    max-width: 50rem;
}

.about-card.type-2 .card-box .content.width-2 {
    max-width: 70rem;
}

.payment-section .content {
    max-width: 63rem;
    margin: auto;
}

.icons-wrapper {
    max-width: 70rem;
    margin: auto;
    margin-top: 4rem;
}

.icons-wrapper img {
    max-width: 120px;
    height: auto;
    object-fit: contain;
    margin: 1rem;
}

.para-max-width {
    max-width: 50rem;
}

.mt-80 {
    margin-top: 8rem;
}

.why-choose.type-2 .content-box {
    margin-top: 5rem;
}

.why-choose.type-2 .content-box .row>* {
    border-right: 1px solid rgba(102, 123, 145, 0.2);
}

.why-choose.type-2 .content-box .row>*:last-child {
    border: 0;
}

.why-choose.type-2 .content-box .box {
    padding-top: 1rem;
}

.m-future-bot-float-btn {
    position: fixed;
    z-index: 999;
    left: 0;
    bottom: 20%;
}

.m-future-bot-float-btn a {
    background: var(--white);
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 500;
    border-radius: 0 50px 50px 0;
    padding: 4px 14px 6px 8px;
    line-height: 1;
    border: 2px solid var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 10px 0;
}

.m-future-bot-float-btn a .icon img {
    width: 4.5rem;
    height: 4.5rem;
}

.m-future-bot-float-btn a:hover {
    background: var(--light-grey-100);
}

.popover {
    border-radius: 11px;
    border: 0;
    box-shadow: none;
    background: transparent;
}

.popover .arrow {
    display: none !important;
}

.m-bot-popover img {
    max-height: 24rem;
}

/* Media Queries */
@media (max-width: 1600px) {
    :root {
        font-size: 60%;
    }

    .hero-mini-banner .banner-content {
        padding: 20rem 0 8rem;
    }

    .m-future-bot-float-btn {
        bottom: 15%;
    }

    .m-future-bot-float-btn a {
        font-size: 1.6rem;
    }

    .m-future-bot-float-btn a .icon img {
        width: 4rem;
        height: 4rem;
    }

    .m-bot-popover img {
        max-height: 20rem;
    }
}

@media (max-width: 1400px) {
    .nav-links .dropdown-wrapper.right-dropdown {
        left: auto;
        right: 0;
        transform: none;
    }

    .hero-mini-banner.type-2 .banner-content {
        padding: 24rem 0 14rem;
    }
}

@media (max-width: 1199px) {
    :root {
        font-size: 56%;
    }

    .container {
        max-width: 100%;
        width: 100%;
    }

    .hero-mini-banner .banner-content {
        padding: 20rem 0 8rem;
    }

    .main-footer .footer-content {
        width: 430px;
        max-width: 430px;
    }

    .about-card .card-box .bg-card-shape {
        width: 100%;
    }

    .nav-links .dropdown-wrapper.mega-dropdown {
        width: 90rem;
    }

    .hero-mini-banner.type-2 .banner-content {
        padding: 20rem 0 14rem;
    }

    .mt-80 {
        margin-top: 6rem;
    }

}
@media (max-width: 991px) {
    .industry-expert {
        background: none !important; /* Remove background for smaller screens */
    }
}

@media (max-width: 991px) {
    :root {
        font-size: 50%;
    }

    .logo img {
        max-width: 12rem;
        width: 100%;
    }

    .theme-table thead th {
        padding-right: unset;
    }

    .hero-mini-banner p {
        font-size: 1.8rem;
    }

    .display-1 {
        font-size: 5rem;
    }

    .display-2 {
        font-size: 4.8rem;
    }

    .display-5 {
        font-size: 2.4rem !important;
    }

    .display-5-5 {
        font-size: 3rem !important;
    }

    .font24 {
        font-size: 2rem;
    }

    .btn.btn-width-2 {
        min-width: auto;
    }

    .nav-links .dropdown-wrapper.mega-dropdown,
    .nav-links .dropdown-wrapper.width-2 {
        width: 100%;
    }

    .nav-links>ul>li>a {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links .dropdown-wrapper {
        position: relative;
        display: none;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        top: 0;
        left: 0 !important;
        right: 0 !important;
        transition: none;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    nav .nav-links>ul {
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        padding: 3rem 1rem;
    }

    nav .nav-links {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: scale(1.3);
        transition: all 0.25s ease;
    }

    nav .nav-links.show {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: scale(1);
    }

    .mobile-menu-toggler,
    .close-nav-menu-btn {
        display: flex;
    }

    nav .nav-links ul li a,
    nav .nav-links ul li.active a {
        font-size: 1.8rem;
        padding: 20px;
    }

    .why-choose.type-2 .content-box .row>* {
        border: 0;
        padding: 0 4rem;
    }

    .why-choose.type-2 .content-box .box {
        min-height: 100%;
        padding: 4rem 0;
        border-bottom: 1px solid rgba(102, 123, 145, 0.2);
    }

    .why-choose.type-2 .content-box .row>*:nth-child(3) .box,
    .why-choose.type-2 .content-box .row>*:nth-child(4) .box {
        border: 0
    }

    .why-choose.type-2.partner .content-box .box {
        border-bottom: 0;
    }

    .content-limited-width {
        max-width: 100%;
    }
}

@media (max-width: 767.5px) {

    .theme-table tbody tr td,
    .theme-table thead th {
        font-size: 1.6rem;
    }

    .logo img {
        width: 100px;
    }

    .main-footer .footer-content {
        width: 100%;
        max-width: 100%;
        border: 0;
    }

    .social-links-box {
        margin-top: 0.6rem;
    }

    .footer-links {
        justify-content: space-between;
    }

    .btn.btn-sm {
        padding: 4px 12px 6px;
        min-width: 80px;
    }

    .theme-padding-2 {
        padding: 5rem 0;
    }
}

@media (max-width: 575px) {
    :root {
        font-size: 56%;
    }

    .methods-box img {
        padding: 1.5rem;
    }

    .display-1 {
        font-size: 4.5rem;
    }

    .display-2 {
        font-size: 4.2rem;
    }

    .display-3,
    .display-3-5 {
        font-size: 3.6rem;
    }

    .display-4 {
        font-size: 2.8rem;
    }

    .display-5 {
        font-size: 2.2rem !important;
    }

    .display-5-5 {
        font-size: 2.8rem !important;
    }

    .text-lead-2 {
        font-size: 1.8rem;
    }

    .text-lead {
        font-size: 1.6rem;
    }

    .font20 {
        font-size: 1.8rem;
    }

    .font18 {
        font-size: 1.6rem;
    }

    .font22 {
        font-size: 2rem;
    }

    .mt-80 {
        margin-top: 4rem;
    }

    textarea.form-control {
        max-height: 12rem;
    }

    .btn {
        min-width: 18rem;
    }

    .btn-secondary {
        padding: 1.2rem;
    }

    .theme-padding {
        padding: 5rem 0;
    }

    .hero-mini-banner .banner-content {
        padding: 15rem 0 8rem;
        min-height: auto;
    }

    .hero-mini-banner.v2 .banner-content {
        padding: 13rem 0 5rem;
        min-height: 40rem;
    }

    .about-card .card-box {
        padding: 4rem 0 4.6rem 7rem;
    }

    .about-card .card-box::before {
        width: 4rem;
    }

    .about-card .card-box::after {
        left: 4rem;
    }

    .about-card .card-box .bg-card-shape {
        width: auto;
        opacity: 0.4;
        right: -50%;
        top: 60%;
    }

    .about-card.type-2 .card-box {
        padding: 5rem 4rem;
    }

    .about-card.type-2 .card-box .bg-card-shape {
        width: auto;
        right: -50%;
    }

    .main-footer {
        padding: 5rem 0;
    }

    .footer-legal-content {
        padding: 3rem 0;
    }

    .main-footer .footer-content .content {
        max-width: 100%;
    }

    .footer-links .links-collapse {
        display: none;
    }

    .footer-links .links-box h6 {
        cursor: pointer;
        pointer-events: auto;
        background: var(--dark-800);
        padding: 1rem 1.4rem 1.2rem;
        border-radius: 0.8rem;
    }

    .footer-links .links-box h6.open {
        background: var(--dark-700);
    }

    .footer-links .links-box h6::after {
        display: block;
    }

    .footer-links .links-box ul {
        padding-left: 1.4rem;
    }

    .footer-copyright {
        padding: 1.4rem 0;
    }

    .hero-mini-banner.type-2 .banner-content {
        padding: 17rem 0 12rem;
    }

    .why-choose.type-2 .content-box .row>* {
        padding: 0 2rem;
    }

    .why-choose.type-2 .content-box .box {
        padding: 2rem 0;
        border-bottom: 1px solid rgba(102, 123, 145, 0.2);
    }

    .why-choose.type-2 .content-box .row>*:nth-child(3) .box {
        border-bottom: 1px solid rgba(102, 123, 145, 0.2);
    }

    .news-details-container {
        padding: 2rem;
    }

    .m-bot-popover img {
        max-height: 16rem;
    }
    
}
